.User{
display: flex;
flex-direction: column;
align-items: center;
/* background-image: url("../images/Back.png");
background-position: bottom;
background-repeat: repeat-y;
background-size: cover; */
}
.User img{
    height: 250px;
    width: 250px;
    border-radius: 50%;
    border: solid 7px wheat;
}
.BlogList{
    background-image: url("../images/Blog_Background.png");
    background-position: bottom;
    background-repeat: repeat-y;
    background-size: cover;
}

.User p{
    font-family: 'Corinthia', cursive;
}
.Edit-update{
    width: 100%;
}
.carousel-image{
    height: 400px;
}
.background-pic{
    width: 100%;
    height: 300px;
    z-index: -1;
}
.User{
    display: flex;
    justify-content: center;
}
.Head{
    display: flex;
    justify-content:space-between;
    background-color: white;
    /* border-radius: 20px; */
    background-image: url("../images/Back.png");
    background-position: bottom;
    background-repeat: repeat-y;
    background-size: cover;
}
@media only screen and (max-width: 500px) {
.User img{
    height: 150px;
    width: 150px; 
}
.carousel-image{
    height: 250px;
}
}
@media only screen and (max-width:300px){
    .carousel-image{
        height: 200px;
    }
}