.BlogBody{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-bottom: solid 2px orange;
}
.image img{
    height: 300px;
    width: 300px;
    margin: 7px;
    position: relative;
}
.Entry{
    min-width: 280px;
}
@media only screen and (max-width:315px)
{
    .image img{
        height: 250px;
        width: 250px;
    }
}