.Intro2{
    display: flex;
    flex-direction: column-reverse;
    height: 100vh;
    width: 100vw;
    background-image: url("https://cdn.pixabay.com/photo/2020/02/05/15/47/natural-4821583_960_720.png");
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: left;
    /* background-attachment: fixed; */
}
.IntroTxt{
    color: white;
    bottom: 20px;
    width: 70%;
    padding: 0px 30px;
}