.LoginBody{
    height: 41.5em;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background: url("https://img.freepik.com/free-vector/night-landscape-with-aurora-borealis-sky-river-mountains-horizon-vector-cartoon-illustration-green-pink-northern-lights-stars-winter-sky-nordic-rocks_107791-8129.jpg?t=st=1656316496~exp=1656317096~hmac=bc6696faea7c2c73d29b9118555d4495c8212c8ad72059791b4eb450f95348da&w=1380https://img.freepik.com/free-vector/night-landscape-with-aurora-borealis-sky-river-mountains-horizon-vector-cartoon-illustration-green-pink-northern-lights-stars-winter-sky-nordic-rocks_107791-8129.jpg?t=st=1656316496~exp=1656317096~hmac=bc6696faea7c2c73d29b9118555d4495c8212c8ad72059791b4eb450f95348da&w=1380"), rgb(255, 255, 255,0.2);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.Login{
    width: 50%;
    padding: 10px 20px;
}
#Label{
    font-size: 17px;
    font-weight: bold;
}
.Login h1 , .Login label{
    color: white;
}

.login-boat{
    border: none;
    width: 100%;
    box-shadow: 0px 32px 58px -19px blue;
    background-image: linear-gradient(180deg,white,rgb(220, 239, 255),rgb(108, 208, 255),blue );
}
.Boat{
    height: 400px;
    width: 400px;
    position: relative;
    animation-name: animboat ;
    animation-duration: 7s;
    animation-iteration-count: infinite;
}
.LoginBody .warning{
    text-decoration: none;
    font-size: 10px;
    color: red;
}
.helpers{
    padding: 7px;
}
.Warning{
    font-weight: 700;
    font-size: 20px;
}
.Login .btn{
    border: solid 2px white;
}
@keyframes animboat{
  0%{
  transform: translate(20px ,-30px);
  }
  33%{
  transform: translate(10px,20px);
  }
  66%{
  transform: translateY(30px,20px);
  }
  100%{
    transform: translate(20px ,-30px);  
  }
}
.loginface{
    display: flex;
    flex-direction: column;
    padding: 40px;
}

@media only screen and (max-width:1000px)
{
.loginface{
    /* display: none; */
    display: none;
    position: absolute;
    z-index: -1;
    width: 100%;
    top: 0px;
    left: 0px;
}
.Login{
    width: 100%;
}

.login-boat{
    width: 100%;
}
}
@media only screen and (max-width:290px)
{
    .login-boat img{
        width: 200px
    }
}