.LoginBody{
    height: 41.5em;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: repeating-linear-gradient(345deg,#001eff,white) ,url("https://cdn.pixabay.com/photo/2017/06/15/01/50/whale-2403863_960_720.png");
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    background-position-y: bottom;
    background-position-x: center;
    background-size: 100%,90%,10%,15%,10%;
}
.Login{
    width: 70%;
    padding: 10px 20px;
}
#Label{
    font-size: 17px;
    font-weight: bold;
}