.LoginBody{
    height: 41.5em;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.Login{
    width: 50%;
    padding: 10px 20px;
}
#Label{
    font-size: 17px;
    font-weight: bold;
}
.login-boat{
    border: none;
    box-shadow: 0px 32px 58px -19px blue;
    background-image: linear-gradient(180deg,white,rgb(220, 239, 255),rgb(108, 208, 255),blue );
}
.Boat{
    height: 400px;
    width: 400px;
    position: relative;
    animation-name: animboat ;
    animation-duration: 7s;
    animation-iteration-count: infinite;
}
.helpers{
    padding: 7px;
}
@keyframes animboat{
  0%{
  top: -30px;
  }
  50%{
  top: 20px;
  }
  100%{
  top: -30px;
  }
}
.loginface{
    display: flex;
    flex-direction: column;
    padding: 40px;
    height: min;
}

@media only screen and (max-width:1000px)
{
.loginface{
    display: none;
}
.Login{
    width: 100%;
}
}