@media only screen and (max-width: 600px) {
    .BlogHead img{
        height: 50px;
        width: 50px;
    }
  }
 
.Bod{
    content: " ";
    background-image: linear-gradient(180deg,white,blue);
}  

.BlogHead{
    display: flex;
    justify-content: space-between;
    align-items: center;
} 
.blogs{
    background-color: white;
    padding: 5px 8px;
}
.BlogHead img{
    margin: 5px;
    height: 100px;
    width: 100px;
} 
#blog {
    width: 100%;
}
.confirmation{
    color: white;
    font-size: 11px;
}